@model IEnumerable<Attendance_Time_tracking_System.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Students</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="searchInput" placeholder="Search by email...">
            </div>
        </div>
    </div>
    <table>
        <thead>
            <th>

            </th>
        </thead>
    </table>
</body>
</html>
