@model Employee
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
    List<RoleId> Roles = ViewBag.Role;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Employee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 500px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .text-danger {
            color: #dc3545;
        }
    </style>


</head>
<body>
    <div class="container mt-5">
        <h1>Create Employee</h1>
        <form method="post" asp-action="Create" asp-controller="Employee">
            @if (ViewBag.ErrorMsg != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMsg</div>
            }
            @Html.Partial("partialView", Model)
            <div class="form-group">
                <label for="roles">Roles:</label>
                <select id="roles" name="roles" class="form-select" aria-label="Default select example" asp-for="roles">
                    @foreach (var item in Roles)
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                </select>

                <button type="submit" class="btn btn-primary">Create</button>
                <a href="/Employee/Index" class="btn btn-info">Back</a>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
