@model Employee
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Update";
    List<RoleId> Roles = ViewBag.Role;

}

<h1>Update Employee </h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <form method="post" action="Update">

            @if (ViewBag.ErrorMsg != null)
            {
                <div class=" alert alert-danger">@ViewBag.ErrorMsg</div>
            }
            @Html.Partial("partialView", Model)
            <div class="form-group">
                <label for="roles">Roles:</label>
                <select id="roles" name="roles" class="form-select" aria-label="Default select example" asp-for="roles">
                    @foreach (var item in Roles)
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/Employee/Index" class="btn btn-info">Back</a>

        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
