@model UserPassword
@{
    Layout = "Security";
}


<div class="container mt-4">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-10 offset-1" id="partialViewContainer">
                <form asp-action="ChangePassword" asp-controller="Security" method="post" id="formPassword">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Old Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary " id="fname">
                                    <input asp-for="oldPassword" class="form-control" required />
                                    <input asp-for="Id" hidden/>
                                    <span asp-validation-for="oldPassword" class="showdiv"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row ">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">New Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary " id="lname">
                                    <input asp-for="NewPassword" class=" form-control" required />
                                    <span asp-validation-for="NewPassword" class="showdiv"></span>
                                </div>

                            </div>
                            <hr />
                            <div class="row ">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Confirm Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary " id="email">

                                    <input asp-for="ConfirmPassword" class=" form-control" required />
                                    <span asp-validation-for="ConfirmPassword" class="showdiv"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-info" id="saveProfileBtn">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
