
@{
    ViewData["Title"] = "Index";
    Layout = "Security";
}

@section Style{
    <style>

        table {
            border-spacing: 1;
            border-collapse: collapse;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
        table thead tr {
            height: 60px;
            background: #36304a;
            color:white;
        }
        table  tr td{
            margin-left:10px;
            padding:10px;
        }
    </style>
}

<div>
    <div class="btn-group mt-5" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value=5>
        <label class="btn btn-outline-primary" for="btnradio1" >Security</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value=6 checked>
        <label class="btn btn-outline-primary" for="btnradio4">Student Affairs</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value=3>
        <label class="btn btn-outline-primary" for="btnradio2" data-id=3>Instructors</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value=2>
        <label class="btn btn-outline-primary" for="btnradio3" data-id=2>Students</label>
    </div>
</div>
<div class="d-flex justify-content-center mt-2">
<table >
    <thead>
        <tr>
            <td>name</td>
            <td>Attend</td>
            <td>Leave</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ahmed</td>
            <td>
                 <div class="form-check form-switch">
                    <input class="form-check-input attend" type="checkbox" checked/>
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input leave" type="checkbox" disabled/>
                </div>
            </td>
        </tr>
        
    </tbody>
</table>
</div>

<div id="addedin"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            loadtable(6);

            // $(".attend").on("change", function () {
            //     var att = $(this);
            //     var leaveCheckbox = att.closest("tr").find(".leave");
            //     if (att.prop("checked")) {
            //         leaveCheckbox.prop("disabled", false);
            //     }
            //     else {
            //         leaveCheckbox.prop("checked", false);
            //         leaveCheckbox.prop("disabled", true);
            //     }
            // });


            document.querySelector("table tbody").addEventListener("click",function(event){
                let target = event.target;
                if (target.matches("input[type='checkbox'].attend")) {
                    let trvalue = target.closest("tr");
                    var datavalue = trvalue.getAttribute("data-id");
                    if (event.target.checked) {
                        trvalue.querySelector("input[type='checkbox'].leave").disabled = false;
                        attend(parseInt(datavalue) ,true)
                    }
                    else {
                        trvalue.querySelector("input[type='checkbox'].leave").checked = false;
                        trvalue.querySelector("input[type='checkbox'].leave").disabled = true;
                        attend(parseInt(datavalue), false)
                    }
                }

                if (target.matches("input[type='checkbox'].leave")) {
                    let trvalue = target.closest("tr");
                    var datavalue = trvalue.getAttribute("data-id");
                    if (event.target.checked) {
                        leave(parseInt(datavalue), true);
                    }
                    else{
                        leave(parseInt(datavalue), false);
                    }
                }
            })

            $("input[type='radio'][name='btnradio']").on("change", function () {
                let radio = $(this);
                let radiovalue = parseInt(radio.prop("value"));
                console.log(radiovalue);

                loadtable(radiovalue);
            });

            function loadtable(radiovalue){
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetUsers")',
                    dataType: 'json',
                    data: { value: radiovalue },
                    success: function (data) {
                        $("table tbody tr").remove();

                        //if the day wasn't there in the table
                        if (Object.keys(data).length === 0) {
                            let rows = `<tr>
                                            <td colspan="3" class="text-center">
                                                Today is OFF
                                            </td>
                                        </tr>`
                            $("table tbody").append(rows);
                        }

                        $.each(data, function (i, item) {

                            let attendcheck = "checked";
                            let leavecheck = "checked";
                            let disapled = ""
                            if (item.attendpresent == null || item.attendpresent == false) { attendcheck = "", disapled = "disabled" }
                            if (item.attendleave == null || item.attendleave == false) { leavecheck = "" }

                            let rows =
                                `<tr data-id=${item.id}>
                                            <td>${item.f_name} ${item.l_name}</td>
                                            <td>
                                                    <div class="form-check form-switch">
                                                    <input class="form-check-input attend" type="checkbox" ${attendcheck}/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input leave" type="checkbox" ${disapled} ${leavecheck}/>
                                                </div>
                                            </td>
                                        </tr>`
                            $("table tbody").append(rows);

                        });
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }

            function attend(userId, value) {
                let val = document.querySelector("input[type='radio'][name='btnradio']:checked");
                console.log(parseInt(val.value));
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("changeAttendstatus")',
                    dataType: 'json',
                    data: { userId: userId, value: value, usertype: val.value },
                    success: function (data) {
                        console.log("operation done successfuly")
                    },
                    error: function (xhr, status, error) {
                        console.log("sattus text : ", xhr.statusText);
                        alert(xhr.statusText);
                    }
                });
            }

            function leave(userId , value){
                let val = document.querySelector("input[type='radio'][name='btnradio']:checked");
                console.log(parseInt(val.value));
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("changeLeavingstatus")',
                    dataType: 'json',
                    data: { userId: userId, value: value, usertype: val.value },
                    success: function (data) {
                        console.log("operation done successfuly")
                    },
                    error: function (xhr, status, error) {
                        console.log("sattus text : ", xhr.statusText);
                        alert(xhr.statusText);
                    }
                });
            }


        });//end of ready
    </script>
}